<app-navbar></app-navbar>
<app-navbar></app-navbar>
<div class="container table-responsive">
    <div class="d-flex justify-content-between">
        <h1>Tabla Roles</h1>
        <button type="button" class="btn btn-outline-secondary bi bi-arrow-left-right" (click)="cambiaVista()"></button>
    </div>
    <div class="d-flex justify-content-center mb-2">
        <button type="button" class="btn btn-success bi bi-plus" data-bs-toggle="modal" data-bs-target="#form" (click)="isUpdate=false"></button>
    </div>
    <table class="table" *ngIf="mostrarTabla">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr *ngFor="let rol of roles; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <!-- <td>{{seccion.idSeccion}}</td> -->
            <td>{{rol.nombre}}</td>
            <td>{{rol.estado}}</td>
            <td>
                <button type="button" class="btn btn-outline-success mx-2 bi bi-pencil-fill" (click)="selectRol(rol)" data-bs-toggle="modal" data-bs-target="#form"></button>
                <button type="button" class="btn btn-outline-danger bi bi-archive" (click)="eliminarRol(rol.idRol)"></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container d-flex flex-wrap justify-content-center gap-4"  *ngIf="!mostrarTabla">
    <div class="card" *ngFor="let rol of roles; let i = index" style="width: 18rem;">
        <div class="card-header d-flex justify-content-center">
            <h5>{{ i + 1 }}</h5>
        </div>
        <div class="d-flex flex-column">
            <img src="assets/portada.jpeg" class="card-img-top align-self-center" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{rol.nombre}}</h5>
            <div class="d-flex flex-row gap-4">
                <p>Estado: {{rol.estado}}</p>
                <button type="button" class="btn btn-outline-success mx-2 bi bi-pencil-fill" (click)="selectRol(rol)" data-bs-toggle="modal" data-bs-target="#form"></button>
                <button type="button" class="btn btn-outline-danger bi bi-archive" (click)="eliminarRol(rol.idRol)"></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="form" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" *ngIf="!isUpdate">Agregar Rol</h1>
            <h1 class="modal-title fs-5" *ngIf="isUpdate">Actualizar Rol</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formRol"> 
            <div class="mb-3">
                <label for="nombre" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="mb-3">
                <label for="estado" class="form-label">Estado</label>
                <select class="form-select" aria-label="Default select example" id="estado" formControlName="estado">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option>A</option>
                    <option>I</option>
                </select>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="resetFormRol()">Close</button>
            <button type="button" class="btn btn-primary" (click)="crearRol()" *ngIf="!isUpdate" data-bs-dismiss="modal">Agregar</button>
            <button type="button" class="btn btn-success" (click)="actualizarRol()" *ngIf="isUpdate" data-bs-dismiss="modal">Actualizar</button>
        </div>
        </div>
    </div>
</div>